 body {
     background-image: url(https://images.unsplash.com/photo-1701921188059-daa354b6a91c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8);
     background-repeat:no-repeat ;
     background-position: right;
     background-attachment:fixed;
 }
section{
    border-color:rgb(255,25,30,25%) ;
    border-style: double dashed dotted solid ;
    border-width: thick;
    border-radius: 5px;
    margin: 50px 45px 25px 65px;

 }
 div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }



